<h1>Here are Recipes</h1>
<% @recipes.each do |recipe| %>
  <h3>Name:<%= recipe.name %></h3>
  <p>ingredients:<%= recipe.ingredients %></p>
  <p>cook time:<%= recipe.cook_time %></p>
  <a href="/recipes/<%= recipe.id %>">Go to recipe</a>
<% end %>
