<h1>Title: <%= @recipe.name %></h1>
<p>ingredients: <%= @recipe.ingredients %></p>
<p>cook_time: <%= @recipe.cook_time %> minutes</p>
<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
